.fade-in {
  opacity: 0;
  // transition: opacity 300ms ease;
  @include delays(100, 0, 9);
  transition: opacity 300ms 300ms ease;
}

.fade-in.appear {
  opacity: 1;
}

.slide-up {
  translate: 0 80px;
  transition: translate 300ms ease;
}

.slide-up.appear {
  translate: 0 0;
}

.scale-right {
  scale: 0;
  transition: 300ms ease;
  transform-origin: left;
}

.scale-right.appear {
  scale: 1;
}