.fade-in {
  opacity: 0;
  transition: opacity 300ms ease;
  // transition: opacity 200ms 300ms ease;
}

.fade-in.appear {
  opacity: 1;
}

.slide-up {
  translate: 0 80px;
  transition: translate 300ms ease;
}

.slide-up.appear {
  translate: 0 0;
}