// Desktop only site styles - class added via JS
.explore-mode {
  .hero {
    width: 35%;
    // transition: width 500ms linear;
  }

  .slide-container {
    width: 65%;
    // transition: opacity 500ms 500ms linear;
  }

  .experience {
    .page-one {
      display: flex;
      opacity: 1;
      transition: opacity 5s ease;
    }
  }
}





