// Desktop only site styles - class added via JS
.explore-mode {
  // display: grid;
  // grid-template-columns: 1fr 2fr;
  

  .hero {
    width: 40%;
    transition: width 500ms linear;
  }

  .slide-container {
    width: 60%;
    transition: opacity 500ms 500ms linear;
  }
}





