// Desktop only site styles - class added via JS
.explore-mode {
  // display: grid;
  // grid-template-columns: 1fr 2fr;
  display: flex;
  width: 100%;
  height: 100vh;

  h3 {
    display: none;
  }
  .hero {
    width: 35%;
    transition: width 500ms ease-in-out;
  }
  
  .portfolio-project {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    place-items: center;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);

    header {
      width: 100%;
      height: 100%;
      padding: .5rem 0;
      border-bottom: 2px solid transparent;
      transition: all 350ms ease;
    }

    header:hover {
      background-color: #eee;
    }

    .active {
      border-bottom: 2px solid $text-dark;
    }
  
    figure {
      position: absolute;
      top: 8rem;
      left: 35%;
      right: 35%;
      display: none;

      .btn-group {
        margin-top: 3rem;
        width: max-content;
      }
    }
  }
  // #about, #contact, #portfolio {
  //   display: none;
  // }
}





