@media (min-width: 1400px) {
  .top {
    display: none;
  }

  h3 {
    display: none;
  }

  .full-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .hero {
    .portfolio-nav {
      display: flex;
    }
  }

  .slide-container {
    position: relative;
    height: 100%;
    display: none;

    .portfolio-slide {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
 
  .page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: none;
    height: 100%;

    .next-page, .prev-page {
      display: inline-block;
      align-self: flex-end;
      justify-self: flex-end;
    }

    .next-page {
      padding-top: 2rem;
    }
  }
}


@media (max-width: 500px) {
  .full-container {
    max-width: 100%;
    overflow-y: hidden;
  }
  .about {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        margin: .5rem auto;
      }
    }
    .card-skills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
    }
  }
  .portfolio {
    width: 100%;
    padding: 0;

    .project-container {
      padding: 0;
      border-radius: 0;

      img {
        border: 0;
        border-radius: 0;
      }

      .project-nav {
        font-size: .8rem;
      }
    }
  }
  .detail-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}