@import 'config';

*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: $font-primary;
  color: $text-dark;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  border: 0;
}

a, i {
  color: inherit;
}

h1 {
  background-color: $clr-primary-light;
  padding: .45rem .8rem;
  border-radius: 22px;
  text-align: center;
  font-size: .75rem;
  width: max-content;
  margin: 1rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.75rem;
  text-transform: lowercase;
  text-align: center;
  font-family: $font-heading;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.main-img {
  border-radius: 50%;
  width: 200px;
  overflow: hidden;
}

// home section styles
.hero {
  height: 100vh;
  width: min(100%, 1460px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 12px solid $clr-primary-dark;

  header {
    background-color: $clr-primary;
    color: $text-light;
    height: 100%;
    width: 100%;
    gap: .25rem;
    padding: 2rem;

    nav {
      min-width: 20rem;
      margin-top: 1.35rem;
      padding-top: 1.35rem;
      border-top: 1px solid $text-light;

      >ul>li>a {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .35rem;

        i {
          font-size: 2rem;
        }
      }
    }
  }

  .portfolio-nav {
    // background-color: $text-light;
    background: orange;
    width: 80%;
    justify-self: flex-end;
    padding: 1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: none;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: min(100%, 1100px);

    img {
      margin-right: 2rem;
    }

    &-heading {
      text-decoration: underline;
      display: block;
      margin-bottom: 1.5rem;
    }
  }
}

.text-highlight {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: .75rem;
    left: 0;
    height: .5rem;
    width: 100%;
    background-color: $clr-accent;
    z-index: -1;
  }
}

.card-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.75rem;
}

.portfolio {
  width: min(100%, 1000px);

  &-card {
    width: 100%;
    gap: 1.25rem;
    border: 1px solid green;

    img {
      width: min(90%, 400px);
      box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    }
  }
}



@import 'queries';