.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.td-250 {
  transition-delay: 250ms;
}

.td-500 {
  transition-delay: 500ms;
}

.td-750 {
  transition-delay: 750ms;
}

.td-1000 {
  transition-delay: 1000ms;
}

.td-1250 {
  transition-delay: 1250ms;
}

.td-1500 {
  transition-delay: 1500ms;
}

.explore-mode .hero {
  width: 35%;
}
.explore-mode .slide-container {
  width: 65%;
}

.fade-in {
  opacity: 0;
  transition: opacity 300ms ease;
}

.fade-in.appear {
  opacity: 1;
}

.slide-up {
  translate: 0 80px;
  transition: translate 300ms ease;
}

.slide-up.appear {
  translate: 0 0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Roboto Mono", monospace;
  color: #333;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  border: 0;
}

a, i {
  color: inherit;
}

h1 {
  background-color: #1f518c;
  padding: 0.45rem 0.8rem;
  border-radius: 22px;
  text-align: center;
  font-size: 0.75rem;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.75rem;
  text-transform: lowercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.main-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 88% 12% 93% 7%/7% 89% 11% 93%;
  transition: all 200ms ease;
}
.main-img:hover {
  border-radius: 0;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 100;
  animation: cursor 0.5s infinite alternate;
}
.cursor::after {
  content: "";
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 6px solid black;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorBorder 0.5s infinite alternate;
}

.expand {
  animation: cursorClick 0.5s forwards;
  border: 1px solid #fa9e93;
  position: absolute;
  top: -8px;
  left: -148px;
}

@keyframes cursor {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorBorder {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}
@keyframes cursorClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #103561;
  border: 12px solid #041c38;
}
.hero header {
  color: #fff;
  height: 100%;
  width: 100%;
  gap: 0.25rem;
  padding: 2rem;
}
.hero header nav {
  min-width: 20rem;
  margin-top: 1.35rem;
  padding-top: 1.35rem;
  border-top: 1px solid #fff;
}
.hero header nav ul {
  display: flex;
}
.hero header nav > ul > li > a {
  margin: 1rem;
  gap: 0.35rem;
  font-size: 0.75rem;
}
.hero header nav > ul > li > a i {
  font-size: 1.5rem;
}
.hero .portfolio-nav {
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  background-color: #1f518c;
  justify-self: flex-end;
  padding: 1rem;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: sticky;
  display: none;
}
.hero .portfolio-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;
}
.hero .portfolio-nav ul span {
  font-size: 0.75rem;
}
.hero .portfolio-nav ul i {
  font-size: 1.5rem;
  margin-bottom: 0.45rem;
}

a:hover, .hero nav button:hover {
  color: #fa9e93;
}

.reveal > * {
  color: #effa5f;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about .card img {
  margin-right: 2rem;
}
.about .card-heading {
  text-decoration: underline;
  display: block;
  margin-bottom: 1.5rem;
  color: #333;
}
.about .card p {
  color: #646369;
}

.text-highlight {
  position: relative;
}
.text-highlight:before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: 0;
  height: 0.5rem;
  width: 100%;
  background-color: #fa9e93;
  z-index: -1;
}

.card-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.75rem;
}

.portfolio .project-container {
  background-color: #103561;
  width: min(100%, 600px);
  gap: 0.5rem;
  border-radius: 10px;
}
.portfolio .project-container .project-display {
  position: relative;
  width: 100%;
  height: 50vh;
}
.portfolio .project-container .project-display img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  border: 1px solid #041c38;
}
.portfolio .project-container .project-nav {
  background-color: #1f518c;
  width: 100%;
  gap: 0.6rem;
  padding: 0.6rem 0.25rem;
  border-radius: 3px;
}
.portfolio .project-container .project-nav .project-links {
  display: flex;
  align-items: center;
  background-color: #103561;
  color: #fff;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 22px;
  cursor: pointer;
}
.portfolio .project-container .project-nav .project-links:hover {
  background-color: #041c38;
}
.portfolio .project-container .project-nav .project-links .btn-group {
  margin-left: auto;
}

.active > button {
  color: #effa5f;
}

.progress {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: #041c38;
  margin-right: 0.5rem;
  display: none;
}
.progress .overlay {
  width: 50%;
  height: 105%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #041c38;
}

.progress .left, .progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #fa9e93;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.progress .left {
  animation: spinner 2.5s linear forwards;
}

.progress .right {
  animation: spinner2 2.5s linear forwards 2.5s;
}

@keyframes spinner2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }
  100% {
    z-index: 100;
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.contact .detail-group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
}

.contact-form {
  width: min(100%, 840px);
}
.contact-form .flex-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-template-rows: auto-fill;
}
.contact-form .input-container, .contact-form .flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-form .flex-col {
  margin-top: 2rem;
}
.contact-form input, .contact-form textarea {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  font-size: 1rem;
  outline: 0;
}
.contact-form .submit-btn {
  background-color: #103561;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 4px;
  width: -moz-max-content;
  width: max-content;
}
.contact-form .submit-btn:hover {
  background-color: #1f518c;
}

input:focus, textarea:focus {
  border-bottom-color: #333;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 0.45rem;
}

@media (min-width: 1400px) {
  .top {
    display: none;
  }
  h3 {
    display: none;
  }
  .full-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .hero .portfolio-nav {
    display: flex;
  }
  .slide-container {
    position: relative;
    height: 100%;
    display: none;
  }
  .slide-container .portfolio-slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */