.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Roboto Mono", monospace;
  color: #333;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  border: 0;
}

a, i {
  color: inherit;
}

h1 {
  background-color: #1f518c;
  padding: 0.45rem 0.8rem;
  border-radius: 22px;
  text-align: center;
  font-size: 0.75rem;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.75rem;
  text-transform: lowercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.main-img {
  border-radius: 50%;
  width: 200px;
  overflow: hidden;
}

.hero {
  height: 100vh;
  width: min(100%, 1460px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 12px solid #041c38;
}
.hero header {
  background-color: #103561;
  color: #fff;
  height: 100%;
  width: 100%;
  gap: 0.25rem;
  padding: 2rem;
}
.hero header nav {
  min-width: 20rem;
  margin-top: 1.35rem;
  padding-top: 1.35rem;
  border-top: 1px solid #fff;
}
.hero header nav > ul > li > a {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;
}
.hero header nav > ul > li > a i {
  font-size: 2rem;
}
.hero .portfolio-nav {
  background: orange;
  width: 80%;
  justify-self: flex-end;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: none;
}
.hero .portfolio-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: min(100%, 1100px);
}
.about .card img {
  margin-right: 2rem;
}
.about .card-heading {
  text-decoration: underline;
  display: block;
  margin-bottom: 1.5rem;
}

.text-highlight {
  position: relative;
}
.text-highlight:before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: 0;
  height: 0.5rem;
  width: 100%;
  background-color: #fa9e93;
  z-index: -1;
}

.card-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.75rem;
}

.portfolio {
  width: min(100%, 1000px);
}
.portfolio-card {
  width: 100%;
  gap: 1.25rem;
  border: 1px solid green;
}
.portfolio-card img {
  width: min(90%, 400px);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
}

@media (min-width: 600px) {
  .hero {
    height: 90vh;
    border-radius: 20px;
  }
  .hero header {
    border-radius: 6px;
  }
}/*# sourceMappingURL=style.css.map */