@import 'config';
@import 'desktop';
@import 'animations';

*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: $font-primary;
  color: $text-dark;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  border: 0;
}

a, i {
  color: inherit;
}

h1 {
  background-color: $clr-primary-light;
  padding: .45rem .8rem;
  border-radius: 22px;
  text-align: center;
  font-size: .75rem;
  width: max-content;
  margin: 1rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.75rem;
  text-transform: lowercase;
  text-align: center;
  font-family: $font-heading;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.main-img {
  border-radius: 50%;
  width: 200px;
  object-fit: cover;
  // overflow: hidden;
}

// home section styles
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $clr-primary;
  border: 12px solid $clr-primary-dark;

  header {
    color: $text-light;
    height: 100%;
    width: 100%;
    gap: .25rem;
    padding: 2rem;

    nav {
      min-width: 20rem;
      margin-top: 1.35rem;
      padding-top: 1.35rem;
      border-top: 1px solid $text-light;
  
      ul {
        display: flex;
      }
  
      >ul>li>a {
        margin: 1rem;
        gap: .35rem;
        font-size: .75rem;
  
        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  .portfolio-nav {
    width: max-content;
    color: $text-light;
    background-color: $clr-primary-light;
    justify-self: flex-end;
    padding: 1rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: sticky;
    display: none;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.75rem;

      span {
        font-size: .75rem;
      }

      i {
        font-size: 1.5rem;
        margin-bottom: .45rem;
      }
    }
  }
}

nav a:hover, nav button:hover {
  color: $clr-accent;
}

.reveal > * {
  color: #effa5f;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      margin-right: 2rem;
    }

    &-heading {
      text-decoration: underline;
      display: block;
      margin-bottom: 1.5rem;
      color: $text-dark;
    }

    p {
      color: $text-light-alt;
    }
  }
}

.text-highlight {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: .75rem;
    left: 0;
    height: .5rem;
    width: 100%;
    background-color: $clr-accent;
    z-index: -1;
  }
}

.card-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.75rem;
}

// Portfolio Section
.portfolio {
  &-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .project-card {

      h5 {
        font-size: 1.15rem;
      }

      span {
        color: $text-light-alt;
      }

      .btn-group {
        background-color: $clr-primary;
        color: $text-light;
        font-size: 1.2rem;
        border-radius: 7px;
        width: max-content;
        padding: .25rem .75rem;
        margin-top: .4rem;
      }
    }
  }
}

// Contact Section
.contact {

  .detail-group {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2.5rem;
  }
}

.contact-form {
  width: min(100%, 840px);

  .flex-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-template-rows: auto-fill;
  }

  .input-container, .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .flex-col {
    margin-top: 2rem;
  }

  input, textarea {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .15);
    padding: .25rem;
    font-size: 1rem;
    outline: 0;
  }

  .submit-btn {
    background-color: $clr-primary;
    color: $text-light;
    padding: .5rem 1rem;
    border-radius: 4px;
    width: max-content;

    &:hover {
      background-color: $clr-primary-light;
    }
  }
}

input:focus, textarea:focus {
  border-bottom-color: $text-dark;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 .45rem;
}


@import 'queries';